body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.center-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.break_line {
	background: transparent;
	border: 1px solid #000;
	margin: 60px 0;
}

.gradient-purple-text {
	background: linear-gradient(
		to right,
		#e4b9d0 0%,
		#be7eb4 50.56%,
		#7b7bba 100%
	);
	font-size: 52px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
}

.ant-btn-primary {
	background: linear-gradient(
		to right,
		#e4b9d0 0%,
		#be7eb4 50.56%,
		#7b7bba 100%
	);
}

.ant-btn-primary:hover {
	background: linear-gradient(
		to right,
		#7b7bba 0%,
		#be7eb4 50.56%,
		#e4b9d0 100%
	);
	color: white;
}

.slick-list > .slick-track {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pre-text {
	white-space: pre;
}

.left-div {
	display: flex;
	justify-content: left;
	align-items: center;
}

input:invalid,
textarea:invalid {
	animation: shake 0.2s ease-in-out 0s 2;
	/* box-shadow: 0 0 0.6rem #ff0000; */
	color: red !important;
}

.link-no-text-decoration {
	text-decoration: none !important;
	color: black !important;
}
